.dropdown-group{
    display: inline-block;
    position: relative;

}

.dropdown-button{
    display:inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown-content a{
    display: block;
}

.dropdown-group:hover .dropdown-content{
    display:block;
}